{{etude.getAuditTypeChoice()[etude.auditType]}}
<div class="box-header with-border">
            <a href="{{ path('project_etude_audit_update', {'id': etude.id})   }}" class="pull-right btn btn-primary">{{ 'processus.ajouter_process'|trans({}, 'processus') }}</a>
</div>