{% extends 'GestionDocuments/layout.html.twig' %}

{% block title %}
    {{ 'gestiondoc.gestiondoc'|trans({}, 'gestiondoc') }} - {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'gestiondoc.gestiondoc'|trans({}, 'gestiondoc') }}
{% endblock %}

 

 
{% block content_bundle %}
     <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
        {% if is_granted('ROLE_SUIVEUR') %}
            <li class="active"><a href="#tab1" data-toggle="tab">Activité Commerciale </a></li>
        {% endif %}
            <li><a href="#tab2" data-toggle="tab">Trésorerie</a></li>
            <li><a href="#tab3" data-toggle="tab">Chiffrage</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="tab1" style="min-height: 400px;">
            {% include "GestionDocuments/archivage_doc/actico.html.twig" %}
        </div>
        <div class="tab-pane" id="tab2" style="min-height: 400px;">
            {% include "GestionDocuments/archivage_doc/treso.html.twig" %}
        </div>
        <div class="tab-pane" id="tab3" style="min-height: 400px;">
            {% include "GestionDocuments/archivage_doc/chiffrage.html.twig" %}
        </div>
    </div>
{% endblock %}

