{% extends "Stat/layout.html.twig" %}

{% block title %}
    {{ 'processus.ajouter_process'|trans({}, 'processus') }} - {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'processus.ajouter_process'|trans({}, 'processus') }}
{% endblock %}

{% block content_bundle %}   
    <div id="myTabContent" class="tab-content">
       
    </div>
{% endblock %}